<!doctype html>
<html>
  <head>
	<title>Period Countdown - Settings</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script type="text/javascript">
      $(document).ready(function() {
          $('#test_button').click(  function () { // "#test_button" here is the "id=" tag of the html button below
              var sendData = $('#data').val(); // "#data" is the textfield below, this line gets the value of that
			  
              $.ajax({
                  url: '/',    // URL, relative to main (so "/" would be short for "https://<domain>/")
                  type: 'PUT',   // HTTP verb
				  contentType: "application/json",
                  data: JSON.stringify({
                      "Type": sendData
                  })
              })
              ;
			  
          });
      });
    </script>
  </head>
  <body>
	<h1>Settings</h1>
	<br>
	<a href={{ url_for("schoolinformation") }}>School Information</a>
	<br>
	<a href={{ url_for("classinformation") }}>Class Information</a>
	<br>
	<a href={{ url_for("nextup") }}>Next Up</a>
	<br>
	<br>
	<a href={{ url_for("index") }}>Back to Period Countdown</a>
	<br>
	<br>
	<form>
      Data:<br>
      <input id="data" type="text" name="data" value="1"><br>
      <input id="test_button" type="button" value="Submit">
	</form>
  </body>
</html>
