# Compiled/artifact files
.DS_Store
*~
obj/
bin/*
release/PeriodCountdown-*-web/
release/PeriodCountdown-*-web/**

# Additional files to ignore
deprecated/*
documentation/AWS-Setup.txt
*.pem
*.jks
run_test.sh
install_web.sh
percountdown
