* {
    font-family: Lexend Deca;
}


body {
    background: rgb(245, 245, 245);
}


#settings_header {
    text-decoration: underline;
    font-size: 4vh;
    margin-top: 1vh;
}


#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}


#user_settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
#user_settings_title {
    font-size: 6vh;
    margin-bottom: 1vh;
}


#user_periods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
#user_periods_title {
    font-size: 6vh;
    margin-bottom: 1vh;
}
#user_period {
    margin-bottom: 1vh;
}
