* {
	font-family: Arial;
	margin-top: 0;
	margin-bottom: 0;
	top: 0;
	left: 0;
}

#title {
	padding-top: 3vw;
	padding-left: 3vw;
	font-size: 6vw;
	margin-bottom: 3vw;
}

#classinformation {
	padding-left: 3vw;
	font-size: 4vw;
}

#schoolinformation {
	padding-left: 3vw;
	font-size: 4vw;
}

#nextup {
	padding-left: 3vw;
	font-size: 4vw;
}

#operations {
	padding-top: 3vw;
	padding-left: 3vw;
}

#classinformation-entries {
	margin-bottom: 2vw;
	font-size: 2vw;
}

form {
	background: #eeeeee;
	border-radius: 2vw;
	padding: 4vw 1vw;
}

select {
	margin-bottom: 2vw;
	background: #ffffff;
	color: #1a73f6;
	cursor: pointer;
	font-size: 2vw;
	border-radius: 1vw;
	border: 2px solid #1a73f6;
	padding: 1vw 2vw;
}

input {
	background: #ffffff;
	color: #1a73f6;
	font-size: 2vw;
	border-radius: 0.5vw;
	border: 1px solid #1a73f6;
	padding: 0.5vw 0.5vw;
}
