<!doctype html>
<html>
  <head>
	<title>Period Countdown - Error 403</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/error.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/button.css') }}">
  </head>

  
  <body>
	<h1>403 - Request is Forbidden</h1>
	<p>The requested resource or page is not yet available or forbidden.</p>
	<p>Please try again later, as this page is likely in development and will be available soon</p>
    <button onclick="location.href = '/';">Back to Countdown</button>
  </body>
</html>
