<!doctype html>
<html>
  <head>
	<title>Period Countdown - Error 404</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/error.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/button.css') }}">
  </head>

  
  <body>
	<h1>404 - Resource Not Found</h1>
	<p>The requested resource does not exist.</p>
	<p>If you entered the URL manually, check your spelling and try again.</p>
	<button onclick="location.href = '/';">Back to Countdown</button>
  </body>
</html>
