<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Period Countdown</title>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if (authenticated == true) %}
    <meta name="end_time" content="{{ end_time }}">
    <meta name="expire_time" content="{{ expire_time }}">
    {% endif %}
  </head>
  <body>
    {% if (authenticated == true) %}
    <div> {{ current_period }} </div>
    <div id="time_remaining" style="background: -webkit-linear-gradient({{ theme }}, {{ theme }});
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;">
      {{ time_remaining }}
    </div>
    <div> {{ next_period }} </div>
    <div> ({{ next_period_duration }}) </div>
    <button onclick="location.href = 'logout';">Sign out</button>
    <button onclick="location.href = 'settings';">Settings</button>
    {% else %}
    <button onclick="location.href = 'login';">Sign in with Google</button>
    {% endif %}

    <script src="{{ url_for('static', filename='javascript/index.js') }}"
            type="text/javascript">
    </script>
  </body>
</html>
