<!doctype html>
<html>
  <head>
	<title>Period Countdown - Settings</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/settings.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/button.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
	<div id="title">
	  <p>User Settings</p>
	</div>

	<form action="/settings" method="POST" enctype="multipart/form-data">
	  <div id="classinformation">
		<p>Class Information</p>
		<div id="classinformation-entries">
		  {% for period_index in range(periods|length) %}
		  <div>
			<label>{{ period_index + 1 }}: </label>
			<label>Name</label>
			<input type="text" name={{ "SetUserPeriod" + (period_index + 1)|string + "Name" }} value={{ periods[(period_index + 1)|string]["Name"] }}>
			<label>Teacher</label>
			<input type="text" name={{ "SetUserPeriod" + (period_index + 1)|string + "Teacher" }} value={{ periods[(period_index + 1)|string]["Teacher"] }}>
			<label>Room</label>
			<input type="text" name={{ "SetUserPeriod" + (period_index + 1)|string + "Room" }} value={{ periods[(period_index + 1)|string]["Room"] }}>
		  </div>
		  {% endfor %}
		</div>
	  </div>
	  
	  <div id="schoolinformation">
		<p>School Information</p>
		<select name="SetCurrentSchool">
		  {% for school in schools_list %}
		  {% if current_school == school %}
		  <option value={{ school }} selected>{{ school }}</option>
		  {% else %}
		  <option value={{ school }}>{{ school }}</option>
		  {% endif %}
		  {% endfor %}
		</select>
	  </div>
	  
	  <div id="nextup">
		<p>Next Up</p>
		<select name="SetNextUp">
		  {% for next_up_verbosity in next_up %}
		  {% if current_next_up == next_up_verbosity %}
		  <option value="{{ next_up_verbosity }}" selected>{{ next_up_verbosity }}</option>
		  {% else %}
		  <option value="{{ next_up_verbosity }}">{{ next_up_verbosity }}</option>
		  {% endif %}
		  {% endfor %}
		</select>
	  </div>

	  <div id="operations">
		<button type="submit">Save Settings</button>
	  </div>
	</form>

	<div id="operations">
	  <button onclick="location.href = '/'">Back to Countdown</button>
	</div>
  </body>
</html>
