<!doctype html>
<html>
  <head>
	<title>Period Countdown - Whitelist Policy</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/error.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/button.css') }}">
  </head>

  
  <body>
	<h1>Whitelist Policy</h1>
	<p>It appears that you have attempted to use the "Sign in with Google" feature of Period Countdown.</p>
	<p>Because of the small-scale nature of this website, only trusted users are permitted to sign in. If you believe you should be granted access, please either contact the developer directly or send an email to periodcountdown@gmail.com containing your unique id shown below.</p>
	<br>
	<p>Your unique id: {{ sub }}</p>
	<br>
	<button onclick="location.href = '/';">Back to Countdown</button>
  </body>
</html>
